.postTemplate {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: #282c34;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: background-color 0.5s ease;
}

.postTemplate:hover {
    background-color: rgb(30, 32, 34);
}

.post-title {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: bold;
}

.post-content {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: pre-wrap;
    margin-bottom: 1em;
}

.post-profile {
    transition: color 0.3s ease;
}

.post-profile:hover {
    cursor: pointer;
    color: rgb(24, 105, 158);
}

.post-date {
    font-size: 0.9em;
    color: #ccc;
    margin-top: auto;
}
